<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Account List</title>
</head>
<body>
<h2>Accounts:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.name}">Savings</td>
        <td th:text="${account.balance}">100</td>
        <td> <a th:href="@{/account/{id}(id=${account.id})}">View Account</a></td>
    </tr>
</table>
</body>
</html>