<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Spend Money</title>
    <style type="text/css">
        .btn {
            border-radius: 5px;
            border-color: #1dc45a;
            color: #ffffff;
            font-size: 18px;
            background: #179c53;
            padding: 10px 20px 10px 20px;
        }

        .btn:hover {
            background: #1dc45a;
        }
    </style>
</head>
<body>
<h2>Spend Money from <span th:text="${account.name}">AccountName</span>:</h2>
<p>Available Balance: <span th:text="${#numbers.formatCurrency(account.balance)}">100</span></p>
<hr/>
<h2>How much to spend?</h2>
<form action="#" th:action="@{/withdraw}" th:object="${withdrawForm}" method="post">
    <input type="hidden" th:field="*{accountId}"/>
    <p>Amount: $<input th:field="*{amount}"/></p>
    <p>
        <button class="btn">Spend!</button>
    </p>
</form>
</body>
</html>